/* Общие стили */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    text-transform: uppercase;
}


form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
select {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
    font-size: 16px;
}

select {
    appearance: none;
    -webkit-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0l6 6 6-6' fill='%23333'/%3E%3C/svg%3E");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 8px 6px;
    padding-right: 20px;
}

.btn {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #555;
}

/* Медиа запрос для мобильных устройств */
@media (max-width: 576px) {
    .container {
        margin: 20px;
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    input[type="text"],
    input[type="password"],
    select {
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
        padding: 5px;
    }
}