<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Вы не туда попали...</title>
  <link rel="stylesheet"  th:href="@{../../static/css/error404.css}" />
</head>



<body>
<section class="page_404" >
  <div class="container">
    <div class="row">
      <div class="col-sm-12" >
        <div class="col-sm-10 col-sm-offset-1 text-center" >
          <div class="four_zero_four_bg" >
            <h1 class="text-center " >404</h1>
          </div>
          <div class="contant_box_404">
            <h3 class="h2">
              Кажется вы попали не туда...
            </h3>
            <p>Этой страницы не существует! Давайте вернемся назад на сайт?
            </p>
            <a th:href="@{/profile}" class="link_404" >Вернуться!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>